.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 100vh;
    background-color: white;
}

.logoContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    color: #2a3570;
    font-size: 1.2rem;
    font-weight: normal;
}

.logoName {
    font-weight: bold;
    transition: all 0.2s linear;
}

.logoName:hover {
    color: #421af5;
}

.filterCategoryContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.filterCategories {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.filterCategories a {
    text-decoration: none;
}

.filterItem {
    width: 100%;
    height: 50px;
    display: flex;
    color: rgba(128, 128, 128, 0.47);
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    transition: all 0.15s linear;
}

.active {
    color: #2a3570;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
    transition: all 0.15s linear;
}

.filterItem:hover {
    color: #2a3570;
}